<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <!-- Disable automatic package restore for Unity projects -->
    <add key="enabled" value="False" />
  </packageRestore>
  <solution>
    <!-- Disable restore for Unity solutions -->
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>
